<div class="home">
  <div id="collectionlist" class="collectionlist" data-article_lists="<%= @articles %>" data-name="<%= @name %>">
  </div>
</div>
<%= javascript_pack_tag "collectionList", defer: true %>
