@import 'variables';
@import 'mixins';

.sidebar-data {
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 32px;
  font-family: $monospace;
  padding: 16px;
  @include themeable(color, theme-secondary-color, $dark-medium-gray);
  .mod-action-button {
    padding: 2px 9px;
    font-size: 1.2em;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
  }
}

.collection-form {
  align-items: center;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  input {
    width: 220px !important;
  }
}

.collection-error {
  color: red;
  font-size: 0.8em;
  font-weight: bold;
}

.collection-tags-list {
  border: var(--theme-container-border, 1px solid #dbdbdb);
  border-radius: 3px;
  box-shadow: none !important;
  margin-top: 10px;
  height: 50px;
  width: 220px;
}

#create-collection-btn {
  border-radius: 4px;
  box-shadow: none !important;
  font-size: 0.8em;
  height: 25px;
  margin-bottom: 10px;
  width: 80px;
  &:hover {
    border-radius: 4px;
    background-color: #557de8;
  }
}

.select-multiple-msg {
  color: $dark-medium-gray;
  font-size: 0.7em;
  font-style: italic;
}
